.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__trash-button {
  background: transparent url(../images/trash-button.svg) center no-repeat;
  height: 20px;
  width: 18px;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__trash-button:hover {
  opacity: .5;
  cursor: pointer;
  transition: opacity .3s;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
}

.card__title {
  margin: 0;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like-button-inactive.svg) center no-repeat;
  height: 19px;
  width:21px;
  border: none;
  background-size: 21px 18px;
  padding: 0;
  margin: 0;
}

.card__like-button_active {
  background-image: url(../images/like-button-active.svg);
}

.card__like-button:hover {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
}
