.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
}

.card__title {
  margin: 0;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
}

.card__like-button:hover {
    opacity: .5;
    cursor: pointer;
}
