.footer {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.footer__copyright {
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #545454;
    padding-bottom: 60px;
    padding-top: 67px;
    margin: 0;
    
}

@media screen and (max-width: 480px) {

    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        padding-top: 48px;
        padding-bottom: 36px;
        padding-left: 19px;
    }
}